<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Pokedex</title>
</head>

<style>
	body {
		font-family: Arial, sans-serif;
		background-image: url("https://pbs.twimg.com/media/D-9-KTdXUAA5WvI?format=jpg&name=4096x4096");
        background-size: cover;
        background-position: center center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	h1 {
		text-align: center;
		font-size: 36px;
		color: crimson;
		text-shadow: 2px 2px gray;
	}

	h2 {
		font-size: 24px;
		color: darkslategray;
		margin-bottom: 10px;
	}

	a {
		color: crimson;
		text-decoration: none;
		transition: color 0.2s ease-in-out;
	}

	a:hover {
		color: firebrick;
	}

	hr {
		border: none;
		height: 1px;
		background-color: lightgray;
		margin: 20px 0;
	}

	.container {
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
		padding: 20px;
		margin: 50px auto;
		max-width: 800px;
		text-align: center;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	}

</style>

<body>
	<div class="container">
		<h1>Welcome to Pokedex</h1>
		<h2>Local Pokedex</h2>
		<p>Add to your Pokedex: <a href="/add">Add</a></p>
		<p>View your Pokedex: <a href="/review">View</a></p>
		<p>Destroy your Pokedex: <a href="/remove">Destroy</a></p>
		<hr>
		<h2>Global Pokedex</h2>
		<a href="/global-pokedex">View Global Pokedex</a>
		<hr>
	  </div>
</body>

</html>
