<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removal</title>
</head>
<style>
	body {
		font-family: Arial, sans-serif;
		background-image: url("https://cdn.donmai.us/original/17/59/175955dd863563324cb1d98578202f2d.jpg");
        background-size: cover;
        background-position: center center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
	}

	h1 {
		text-align: center;
		font-size: 36px;
		color: black;
		text-shadow: 2px 2px gray;
	}

	h2 {
		font-size: 24px;
		color: darkslategray;
		margin-bottom: 10px;
	}

	a {
		color: crimson;
		text-decoration: none;
		transition: color 0.2s ease-in-out;
	}

	a:hover {
		color: firebrick;
	}

	hr {
		border: none;
		height: 1px;
		background-color: lightgray;
		margin: 20px 0;
	}

	.container {
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: 20px;
		padding: 20px;
		margin: 50px auto;
		max-width: 800px;
		text-align: center;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	}
</style>
<body>
	<div class="container">
		<h1>Murder of Pokemon</h1>
		All pokemon have been killed. Number of pokemon removed: <%- count %>. You should be sad. What have you done.
		
		<hr>
		<a href="/">HOME</a>
	</div>
</body>

</html>